@font-face {
    font-family: CG;
    src: url(../fonts/CormorantGaramond-Regular.ttf);
}
@font-face {
    font-family: CG-Bold;
    src: url(../fonts/CormorantGaramond-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
}
/* ==================== Grid container */
body {
    background-color: #E9E9E0;
    font-family: CG;
    color: #333;
    display: grid;
    max-height: 100vh;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 0.5fr 0.5fr;
    padding: 0 50px;
}
/* ==================== Top section */
h1 {
    grid-column: 1/6;
    grid-row: 1/2;
    justify-self: center;
    font-size: 2.5em;
    padding: 10px;
}
h1 span {
    font-size: 1.5em;
}
#input {
    background-color: #E9E9E0;
    text-transform: uppercase;
    font-family: CG;
    font-size: 2.5rem;
    padding: 3px;
    font-variant-numeric: lining-nums;
}
h2 {
    grid-column: 1/6;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    border-top: 4px double black;
    border-bottom: 4px double black;
}
#edition {
    text-transform: uppercase;
}
h3 {
    grid-column: 1/6;
    grid-row: 3/4;
    font-size: 2.5rem;
    text-align: center;
    font-family: CG-Bold;
}
/* ==================== Article */
article {
    grid-column: 1/5;
    grid-row: 4/5;
    font-family: CG;
    font-size: 1.5rem;
}
/* ==================== Image */
img {
    grid-column: 5/6;
    grid-row: 4/5;
    max-width: 100%;
}